version: 2

jobs:
  buildAndDeploy:
    docker:
      - image: centos:centos7
    environment:
      TZ: "/usr/share/zoneinfo/America/New_York"
      MASTER: 69.125.235.157
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints: "20:9b:05:97:0b:36:7a:fe:98:38:3e:d9:1b:dd:1c:34"
      - run:
          name: Import CentOS GPG key
          command: rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
      - run:
          name: Install and configure OpenSSH
          command: |
            yum -y install openssh-clients >/dev/null 2>&1
            mv ~/project/.circleci/known_hosts ~/.ssh/known_hosts
            chmod 644 ~/.ssh/known_hosts
            cat ~/project/.circleci/config >> ~/.ssh/config
      - run:
          name: Install rsync
          command: yum -y install rsync >/dev/null 2>&1
      - run:
          name: Install bind
          command: yum -y install bind >/dev/null 2>&1
      - run:
          name: Check zones
          command: |
            for i in $(ls ~/project/db.*); do
              ZONE=$(echo ${i} | cut -d. -f2-)
              named-checkzone ${ZONE} ${i} >/dev/null 2>&1 || { echo "Problem with ${i}"; exit 1; }
            done 
      - run:
          name: Push zones to dns01.nj
          command: |
            OUTPUT+=$(rsync -ri --checksum --delete --copy-links ~/project/db.* dns01.nj.seenothing.net:/etc/named/master/)
            #if [[ -n ${OUTPUT} ]]; then
            #  ssh dns01.nj.seenothing.net "sudo rndc reload"
            #fi
      - run:
          name: Build zone configs for dns00.mgmt.aws
          command: |
            FILE="/tmp/dns01.nj:master.zones"
            for i in $(ls ~/project/db.*); do
              echo $i
              echo "zone \"$(echo ${i} | cut -d. -f2-)\" {" >> ${FILE}
              echo -e "\ttype master;" >> ${FILE}
              echo -e "\tfile \"/etc/named/master/$(basename ${i})\";" >> ${FILE}
              echo "};" >> ${FILE}
              echo >> ${FILE}
            done
      - run:
          name: Push zone configs to dns00.mgmt.aws
          command: |
            if [[ -n $(rsync -i --checksum /tmp/dns01.nj:master.zone dns01.nj.seenothing.net:/etc/named/master.zones) ]]; then
              #ssh dns00.mgmt.aws.nymetro.com "sudo rndc reconfig"
              echo something
            fi

workflows:
  version: 2
  buildAndDeploy:
    jobs:
      - buildAndDeploy:
          filters:
            branches:
              only: master
