version: 2

jobs:
  buildAndDeploy:
    docker:
      - image: centos:centos7
    environment:
      TZ: "/usr/share/zoneinfo/America/New_York"
      EXTMASTER: 69.125.235.157
      INTMASTER: 192.168.1.12
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints: "20:9b:05:97:0b:36:7a:fe:98:38:3e:d9:1b:dd:1c:34"
      - run:
          name: Import CentOS GPG key
          command: rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
      - run:
          name: Install and configure OpenSSH
          command: |
            yum -y install openssh-clients >/dev/null 2>&1
            install -m 644 ~/project/.circleci/known_hosts ~/.ssh/known_hosts
            cat ~/project/.circleci/config >> ~/.ssh/config
      - run:
          name: Install rsync
          command: yum -y install rsync >/dev/null 2>&1
      - run:
          name: Install bind
          command: yum -y install bind >/dev/null 2>&1
      - run:
          name: Install Python modules
          command: |
            yum -y install python-dns python-netaddr
      - run:
          name: Create reverse zone
          command: ~/project/.createReverseZone.py
      - run:
          name: Check zones
          command: |
            for i in $(ls ~/project/db.*); do
              ZONE=$(echo ${i} | cut -d. -f2-)
              named-checkzone ${ZONE} ${i} >/dev/null 2>&1 || { echo "Problem with ${i}"; exit 1; }
            done 
      - run:
          name: Push zones to dns01.nj
          command: |
            if [[ -n $(rsync -ri --checksum --delete --copy-links ~/project/db.* dns01.nj.seenothing.net:/etc/named/master/) ]]; then
              ssh dns01.nj.seenothing.net "sudo rndc reload"
            fi
      - run:
          name: Build zone config for dns01.nj
          command: |
            FILE="/tmp/master.zones"
            for i in $(ls ~/project/db.*); do
              echo "zone \"$(echo ${i} | cut -d. -f2-)\" {" >> ${FILE}
              echo -e "\ttype master;" >> ${FILE}
              echo -e "\tfile \"/etc/named/master/$(basename ${i})\";" >> ${FILE}
              if [[ ${i} =~ in-addr.arpa$ ]]; then
                echo -e "\tallow-query { key ${tsigName}; \"internal-acl\"; };" >> ${FILE}
              fi
              echo "};" >> ${FILE}
              echo >> ${FILE}
            done
      - run:
          name: Push zone config to dns01.nj
          command: |
            if [[ -n $(rsync -i --checksum /tmp/master.zones dns01.nj.seenothing.net:/etc/named/master.zones) ]]; then
              ssh dns01.nj.seenothing.net "sudo rndc reconfig"
            fi
      - run:
          name: Build zone config for internal slave
          command: |
            FILE="/tmp/internal:slave.zones"
            for i in $(ls ~/project/db.*); do
              echo "zone \"$(echo ${i} | cut -d. -f2-)\" {" >> ${FILE}
              echo -e "\ttype slave;" >> ${FILE}
              echo -e "\tmasters { ${INTMASTER}; };" >> ${FILE}
              echo -e "\tfile \"slaves/$(basename ${i})\";" >> ${FILE}
              if [[ ${i} =~ in-addr.arpa$ ]]; then
                echo -e "\tallow-query { key ${tsigName}; 192.168.0.0/16; };" >> ${FILE}
              fi
              echo "};" >> ${FILE}
              echo >> ${FILE}
            done
      - run:
          name: Push zone config to internal slave
          command: |
            if [[ -n $(rsync -i --checksum /tmp/internal:slave.zones dns02.nj.seenothing.net:/etc/named/slave.zones) ]]; then
              ssh dns02.nj.seenothing.net "sudo rndc reconfig"
            fi
      - run:
          name: Build zone config for external slaves
          command: |
            FILE="/tmp/external:slave.zones"
            for i in $(ls ~/project/db.*); do
              echo "zone \"$(echo ${i} | cut -d. -f2-)\" {" >> ${FILE}
              echo -e "\ttype slave;" >> ${FILE}
              echo -e "\tmasters { ${EXTMASTER}; };" >> ${FILE}
              echo -e "\tfile \"slaves/$(basename ${i})\";" >> ${FILE}
              if [[ ${i} =~ in-addr.arpa$ ]]; then
                echo -e "\tallow-query { key ${tsigName}; 192.168.0.0/16; };" >> ${FILE}
              fi
              echo "};" >> ${FILE}
              echo >> ${FILE}
            done
      - run:
          name: Push zone config to external slaves
          command: |
            for i in s01.ny s01.va; do
              if [[ -n $(rsync -i --checksum /tmp/external:slave.zones ${i}.seenothing.net:/etc/named/slave.zones) ]]; then
                ssh ${i}.seenothing.net "sudo rndc reconfig"
              fi
            done

workflows:
  version: 2
  buildAndDeploy:
    jobs:
      - buildAndDeploy:
          filters:
            branches:
              only: master
