version: 2

jobs:
  buildAndDeploy:
    docker:
      - image: centos:centos7
    environment:
      TZ: "/usr/share/zoneinfo/America/New_York"
      EXTMASTER: 69.125.235.157
      INTMASTER: 192.168.1.12
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints: "20:9b:05:97:0b:36:7a:fe:98:38:3e:d9:1b:dd:1c:34"
      - run:
          name: Import CentOS GPG key
          command: rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
      - run:
          name: Install and configure OpenSSH
          command: |
            yum -y install openssh-clients >/dev/null 2>&1
            mv ~/project/.circleci/known_hosts ~/.ssh/known_hosts
            chmod 644 ~/.ssh/known_hosts
            cat ~/project/.circleci/config >> ~/.ssh/config
      - run:
          name: Install rsync
          command: yum -y install rsync >/dev/null 2>&1
      - run:
          name: Install bind
          command: yum -y install bind >/dev/null 2>&1
      - run:
          name: Check zones
          command: |
            for i in $(ls ~/project/db.*); do
              ZONE=$(echo ${i} | cut -d. -f2-)
              named-checkzone ${ZONE} ${i} >/dev/null 2>&1 || { echo "Problem with ${i}"; exit 1; }
            done 
      - run:
          name: Push zones to dns01.nj
          command: |
            OUTPUT+=$(rsync -ri --checksum --delete --copy-links ~/project/db.* dns01.nj.seenothing.net:/etc/named/master/)
            if [[ -n ${OUTPUT} ]]; then
              ssh dns01.nj.seenothing.net "sudo rndc reload"
            fi
      - run:
          name: Build zone configs for dns01.nj
          command: |
            FILE="/tmp/master.zones"
            for i in $(ls ~/project/db.*); do
              echo "zone \"$(echo ${i} | cut -d. -f2-)\" {" >> ${FILE}
              echo -e "\ttype master;" >> ${FILE}
              echo -e "\tfile \"/etc/named/master/$(basename ${i})\";" >> ${FILE}
              echo "};" >> ${FILE}
              echo >> ${FILE}
            done
      - run:
          name: Push zone configs to dns01.nj
          command: |
            if [[ -n $(rsync -i --checksum /tmp/master.zones dns01.nj.seenothing.net:/etc/named/master.zones) ]]; then
              ssh dns01.nj.seenothing.net "sudo rndc reconfig"
            fi
      - run:
          name: Build zone configs for internal slave
          command: |
            FILE="/tmp/intslave.zones"
            for i in $(ls ~/project/db.*); do
              echo "zone \"$(echo ${i} | cut -d. -f2-)\" {" >> ${FILE}
              echo -e "\ttype slave;" >> ${FILE}
              echo -e "\tmasters { ${INTMASTER}; };" >> ${FILE}
              echo -e "\tfile \"slaves/$(basename ${i})\";" >> ${FILE}
              echo "};" >> ${FILE}
              echo >> ${FILE}
            done
      - run:
          name: Push zone configs to slaves
          command: |
            if [[ -n $(rsync -i --checksum /tmp/intslave.zones ${i}.seenothing.net:/etc/named/slave.zones) ]]; then
              ssh dns02.nj.seenothing.net "sudo rndc reconfig"
            fi
      - run:
          name: Build zone configs for slaves
          command: |
            FILE="/tmp/extslave.zones"
            for i in $(ls ~/project/db.*); do
              echo "zone \"$(echo ${i} | cut -d. -f2-)\" {" >> ${FILE}
              echo -e "\ttype slave;" >> ${FILE}
              echo -e "\tmasters { ${EXTMASTER}; };" >> ${FILE}
              echo -e "\tfile \"slaves/$(basename ${i})\";" >> ${FILE}
              echo "};" >> ${FILE}
              echo >> ${FILE}
            done
      - run:
          name: Push zone configs to slaves
          command: |
            for i in dns02.nj s01.ny s01.va; do
              if [[ -n $(rsync -i --checksum /tmp/extslave.zones ${i}.seenothing.net:/etc/named/slave.zones) ]]; then
                #ssh ${i}.seenothing.net "sudo rndc reconfig"
                echo something
              fi
            done

workflows:
  version: 2
  buildAndDeploy:
    jobs:
      - buildAndDeploy:
          filters:
            branches:
              only: master
